*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 1000%;
    background-color:  #1a2835 ;
}
.header{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.header h1{
    padding-top: 20px;
    font-size: 40px;

}
.box{
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
}
.box1{
    display: flex;
    padding-left: 100px;
}
.text{
    width: 400px;
    height: 400px;
    background-color:#1a2835;
    border: .5px solid rgba(255, 255, 255, 0.322);
    color: white;
    font-family: sans-serif;
   
}
.text p{
    font-size: 20px;
    padding-top: 20px;

}
.text h1{
    padding-top: 20px;
}

