*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 1000%;
    background-color: #1a2835;
}
.nav-bar{
    padding-top: 300px;
    font-size:30px;
    width: 250px;
    height: 1000%;
    background-color: #1a2835;
    position: fixed;
    color: white;
}
.text{
   
    color: white;
    text-align: center;
    padding-top: 300px;
    font-family: sans-serif;
}
.text h1{
    font-size: 50px;
}
.box{
    width: 100%;
    height: 50px;
     background-color:blue;
}
.box h1{
   text-align: center;
   
}
.text1 {
   padding-left: 300px;
    color: white;
}
.text1 h2{
    padding-top: 20px;
}
.text1 h1{
    font-size: 50px;
}
.text1 h4{
    font-size:20px ;
}
.text2 {
    padding-left: 300px;
     color: white;
 }
 .text2 h2{
     padding-top: 30px;
 }
 .text2 h1{
     font-size: 40px;
 }
 .text2 h4{
     font-size:20px ;
 }
 .text3 {
    padding-left: 300px;
     color: white;
 }
 .text3 h2{
     padding-top: 30px;
 }
 .text3 h1{
     font-size: 30px;
 }
 .text3 h4{
     font-size:15px ;
 }
 .header1 {
    padding-top: 30px;
    padding-left: 300px;
    color: white;
    font-family: sans-serif;

 }
 .box1{
    width: 100%;
    height: 40px;
    background-color: blue;
    margin-top: 50px;
 }
 .box1 h1{
    text-align:center;
 }
 .colors1{
    padding-left: 300px;
    color: white;
    
 }
 .s{
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-left: 300px;
 }
 p{
    padding-left: 300px;
    color: white;
    font-size: 30px;
 }
 .colors2{
    padding-left: 300px;
    color: white;
    
 }
 .s1{
    width: 200px;
    height: 100px;
    background-color:red;
    margin-left: 300px;
 }
 p{
    padding-left: 300px;
    color: white;
    font-size: 30px;
 }
 
 